<!DOCTYPE html>
<html>
    <head>
        <title>sign in</title>
    </head>
    <body>
        <form method="POST" action="./signin">
            <p>userid</p>
            <input name="userid" value="" placeholder="input your userid">
            <p>password</p>
            <input name="password" type="password" value="">
            <br><br>
            <input type="submit" value="sign in">
        </form>
    </body>
</html>